extends layout

block content
  h1 Office-to-Pdf Converter
  form(method="POST", action="/convert", enctype="multipart/form-data")
    input(type="file", name="document")
    br
    button(type="submit") Process